<script setup>
import { useBookStore } from '@/stores/books.js';
const {getBookList, setBookList} = useBookStore()
const {data: books, pending, error} = await useOFetch('/books', {lazy: true})
const loading = computed(() => {
  return pending.value
})
watch(books, (newValue) => {
  setBookList(newValue)
})



/*
* #ALTERTANIF KULLANIM - Client side
*
* const fetchBookList = async () =>{
  try {
    loading.value = true
    const {data} = await useOFetch('/books', {lazy: true})
    setBookList(data)
  }catch (e) {
    // Error Handling
  }finally {
    loading.value = false
    // Her kosulda istek sonrasinda gerceklesek islemler
  }
}

onMounted(() => {
  fetchBookList()
})
*
*
*
* */
</script>
<template>
  <div class="w-full">
    <div v-if="loading" >
      <div class="text-center my-8">Loading</div>
    </div>
    <div v-if="!loading"  class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-5 w-full gap-x-4 gap-y-7">
      <template v-if="!getBookList.length">
        <h2>No Records Found</h2>
      </template>
      <template v-for="(item, index) in  getBookList" :key="index">
        <BookListItem  :item="item" />
      </template>

    </div>
  </div>
</template>

