<script setup>
import {useCartStore} from "@/stores/cart";
const {addCartItem} = useCartStore()
defineProps({
  item : {
    type: Object
  }
})
const error = (e) => {
  e.target.src = 'https://static.vecteezy.com/system/resources/previews/005/337/799/large_2x/icon-image-not-found-free-vector.jpg'
}
</script>
<template>

  <div @click="addCartItem(item)" class="item cursor-pointer bg-white p-3 rounded-md">
    <div class="flex items-center justify-center h-[180px]">
      <img loading="lazy" class="max-w-[240px] max-h-[180px]" :src="item.coverImageUrl" @error="error" alt="">
    </div>
    <div class="mt-4">
      <h2 data-test="bookTitle">{{ item.title || '-' }}</h2>
      <p data-test="bookAuthor">{{item.author || '-'}}</p>
      <p data-test="bookPrice">{{item.price || '-'}}</p>
    </div>
  </div>
</template>


