<script setup>
const props = defineProps({
  count: {
    required: true
  }
})
</script>
<template>
  <div class="badge">
    {{props.count }}
  </div>
</template>

<style scoped>
.badge {
  @apply min-w-4 h-4 z-10 text-sm bg-red-500 cursor-pointer flex justify-center items-center text-white font-bold rounded-full
}
</style>
