<script setup>
</script>

<template>
<header class="flex bg-primary-700 py-3">
<div class="container">
  <div class="flex justify-between items-center">
    <nuxt-link to="/" class="font-medium text-2xl">BookStore</nuxt-link>
     <NuxtLink to="/cart">
       <Cart/>
     </NuxtLink>
  </div>
</div>
</header>
</template>


