<script setup>
import { useBookStore } from '@/stores/books';
import { useDebounceFn } from '@vueuse/core'
const store = useBookStore()
const searchKeyword = ref('')

const inputSearch = useDebounceFn( () => {
  store.searchBooks(searchKeyword.value)
}, 350)
</script>

<template>
  <div class="form-group w-full">
    <input v-model.trim="searchKeyword" @input="inputSearch" type="text" placeholder="Search for books">
  </div>
</template>

