@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
        @apply bg-primary font-Poppins
    }
}

@layer components {
    @import "./components/form";
}
