<script setup>
import { PhTrash } from "@phosphor-icons/vue";
import {useCartStore} from "~/stores/cart";
const store = useCartStore()
defineProps({
  item: {
    type: Object
  }
})
const error = (e) => {
  e.target.src = 'https://static.vecteezy.com/system/resources/previews/005/337/799/large_2x/icon-image-not-found-free-vector.jpg'
}
</script>
<template>
  <div class="flex flex-col lg:flex-row items-center p-4 justify-between border-t border-t-primary-500">
    <div class="flex w-full lg:w-2/3  items-center">
      <div class="w-12 h-12 flex-none">
        <img class=" w-full h-full rounded-md" :src="item.coverImageUrl" @error="error" alt="">
      </div>
      <div class="ml-3 flex-initial	 w-full lg:w-10/12">
        <p>{{ item.title }}</p>
        <span>{{ item.price }} TL</span>
      </div>
    </div>
    <div class="flex justify-end items-center w-full lg:w-1/3">
      <div class="flex">
        <span @click="store.decreaseCountByItem(item.id)" class="cursor-pointer">-</span>
        <span class="mx-3">{{ item.count }}</span>
        <span @click="store.increaseCountByItem(item.id)" class="cursor-pointer">+</span>
      </div>
      <div class="ml-10">
        <PhTrash @click="store.deleteItem(item.id)" class="cursor-pointer" />
      </div>
    </div>
  </div>
</template>

