<script setup>
import { PhShoppingCart } from "@phosphor-icons/vue";
import {useCartStore} from "~/stores/cart";

const store = useCartStore()
const formattedTotalCount = computed(() => {
  if(store.getTotalCount > 9) {
    return '+9'
  }
  return store.getTotalCount
})
</script>

<template>
<div class=" text-2xl">
  <div class="cursor-pointer relative">
    <Badge :count="formattedTotalCount" class="absolute -top-2 -right-2" />
    <PhShoppingCart />
  </div>
</div>
</template>


