<script setup>
import {useCartStore} from "~/stores/cart";
import {amountFormatter} from "@/helpers";
const store = useCartStore()
</script>

<template>
  <div class="w-full bg-white rounded-md  mt-6">
    <div class="flex flex-col lg:flex-row  justify-between p-4 text-lg">
      <p class="mb-2 lg-mb-0">Total Item: {{store.getTotalCount}}</p>
      <p>Total Price: {{amountFormatter(store.getTotalPrice.value)}} TL</p>
    </div>
    <template v-for="(item, index) in store.getCartItems">
      <ShoppingCartPageItem :item="item" />
    </template>
  </div>
</template>

