<script setup>

</script>
<template>
  <div class="flex mx-auto sm:w-full lg:w-1/2 mt-6">
    <!--Search Bar-->
    <Search />
    <!--# Search Bar-->
  </div>
  <div class="w-full my-13">
    <BookList />
  </div>
</template>


